/*Esas*/

#esas{
    width:960px;
    height: auto;
    margin: auto;
}

/*Esas*/

/*Header*/

.logo{
    text-align: center;
    position: absolute;
    top:40px;
    left:370px;
    color:#66c4d0;
}
@media screen and (max-width:959px;){
    .logo{
        width:100%;
    }
    
    .q{
        width:50%;
        height: 50%;
    }
} 

.social_fb{
    position:absolute;
    top:100px;
    right:400px;
    font-size: 25px;
    color:#3b5998;
}

.social_tw{
    position:absolute;
    top:100px;
    right:370px;
    font-size: 25px;
    color:#2aa9e0;
}

input[type="search"]{
    border:1px solid #66c4d0;
    box-shadow: 0px 0px 5px 1px #66c4d0; 
    position: absolute;
    top:100px;
    right:193px;
    width:140px;
    height:25px;
}

/*Header*/

/*Navigation bar*/

#nav_bar ul{
    background-color: #66c4d0;
}

#nav_bar ul ul{
    position: absolute;
    visibility: hidden;
    margin-top:15px;
}

#nav_bar ul li:hover>ul{
    visibility: visible;
    display: block;
}

.menu{
    display:inline-block;
    padding:15px;
    padding-right: 25px;
    padding-left: 25px;
    transition: .75s;
    font-family:lucida bright;
} 

.submenu{
    padding:15px;
    padding-right: 30px;
    list-style-type: none;
    display:block;
}

#nav_bar li a{
    text-decoration: none;
    color:#336799;
    font-size: 14px;
    font-weight: 300;
}


#nav_bar li:hover a{
    color:white;
}

#nav_bar li:hover{
    background-color: #336799;
    cursor: pointer;
}
/*Navigation bar*/

/*Slideshow*/

#slideshow{
    width: 960px;
    height: 320px;
    background-color:;
}

.slideshow_left{
    width:960px;
    height:320px;
    background-color:cadetblue;
    float:left;
}
    
}
/*Slideshow*/

/*Xəbərlər*/
.xeber{
    text-align:center;
    color:red;
    font-family: lucida bright;
    padding-left:20px;
}

#news{
    width:960px;
    height:540px;
    background-color:;
    margin-top: 14px;
}

.news_1{
    width:300px;
    height: auto;
    background-color:;
    float: left;
    margin-right: 5px;
    border-radius: 5px;
}

.news_1_left{
    width:300px;
    height: 215px;
    background-color:aliceblue;
    float: left;
    margin:5px;
    margin-left: 10px;
    border-radius: 5px;
}

.news_2{
    width:300px;
    height: auto;
    background-color:;
    float:left;
    margin-right: 5px;
    border-radius: 5px;
    margin-left: 40px;
}

.news_2_center{
    width:300px;
    height: 215px;
    background-color:aliceblue;
    float: left;
    margin:5px;
    margin-left: 10px;
    border-radius: 5px;
}


.news_right{
    width: 250px;
    height: 440px;
    background-color: #66c4d0;
    float:right;
    margin-right:10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.guncel_d{
    list-style-type: none;
    border-bottom: 1px solid white;
    padding:7px 0px;
    font-family: lucida bright;
    font-size: 14px;
    color:black;

}
a{
    text-decoration: none;
}

/*Xəbərlər*/

/*Footer*/
#footer{
    width:960px;
    height:200px;
    background-color: #336799;
    margin-top:20px;
    border-radius:5px 5px 0px 0px;
    margin-bottom: 0px;
}

.footer_left{
    width: 230px;
    height: 190px;
    background-color:;
    float:left;
    margin-right: 20px;
    margin:5px;
    margin-left:20px;
}

.footer_center{
    width:240px;
    height: 190px;
    background-color:;
    float:left;
    margin-right: 20px;
    margin:5px;
}

.footer_right{
    width:330px;
    height: 190px;
    background-color:;
    float:right;
    margin:5px;
    margin-right:20px;
}


/*Footer*/

/*Form*/
p{
    padding: 0px 10px;
}

input[type="firstname"],input[type="lastname"]{
	width:170px;
	height: 25px;
	border-radius:5px;
	border:1px solid #1C1C1C;
	padding:;
	margin-bottom: 10px;
	background: white;
	color:#848484;
}

textarea{
	background:white;
	border-radius: 5px;
	border:1px solid #1C1C1C;
	margin-bottom: 10px;
	color:#848484;
}

input[type="submit"]{
	width:100px;
	height: 30px;
	background-color:#5192FF;
	border-radius:5px;
	border:1px solid #1C1C1C;
	font-size: 15px;
	color:#E6E6E6;
	cursor:pointer;
}

form{
    padding-left: 40px;
}
/*Form*/